@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../src/assets/star_wars_galaxy.jpeg);
  background-size: cover;
  background-attachment: fixed;
  width: auto;
  height: auto;
}

code {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif,
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.headerimg {
  display: block;
  width: 40%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  background-color: black;
  padding: 2px;
  color: white;
  font-size: xx-large;
  text-align: center;
}

.login-signup {
  text-align: right;
  font-size: large;
  padding-right: 20px;
  padding-top: 15px;
  margin-top: 0%;
}

.cards {
  background-color: white;
  width: 25%;
  height: 100vh;
  margin: 20px;
  border: 10px solid black;
  padding: 5px;
}

.card-title {
  color: black;
  text-align: center;
  padding: 10px;
  border: 3px solid black;
  margin: 15px;
}

/* LOGIN PAGE CSS line 61 - line 90*/
.login-card{
  background-color: white;
}

.toggleElement1 {
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  border-radius: 15px;
  background-color: #4682B4;
  transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.175);
}


.toggleElement2 {
  position: absolute;
  left: 50%;
  width: 50%;
  height: 100%;
  border-radius: 15px;
  background-color: #4682B4;
  transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.175);
}

.toggleBtn1:focus {
  transition: 0.8s;
  transform: rotateY(0deg);
}

.toggleBtn2:focus {
  transition: 0.8s;
  transform: rotateY(360deg);
}

@media screen and (max-width: 900px) {
  .cards {
    width: 80%;
    margin: auto;
  }
  .headerimg {
    width: 60%;
  }
}
